---
import Layout from '../layouts/Layout.astro';
import { Header, Hero, Purpose, Discover, RoomsCarousel, DualAutoCarousel } from '../components';
import galleryData from '../data/gallery.json';
---

<Layout>
  <Header client:load />
  
  <main>
    <Hero client:load />
    <Purpose client:load />
    <Discover client:load />
    <RoomsCarousel client:load />
    <DualAutoCarousel 
      client:load 
      frontItems={galleryData}
      backItems={galleryData}
    />
  </main>
</Layout>
