---
import Layout from '../layouts/Layout.astro';
import { Header, Hero, Purpose, Discover, RoomsCarousel, Restaurants, Experiences, Events, Histories, Footer } from '../components';
import galleryData from '../data/gallery.json';
---

<Layout>
  <Header client:load />
  
  <main>
    <Hero client:load />
    <Purpose client:load />
    <Discover client:load />
    <RoomsCarousel client:load />
    <Restaurants client:load />
    <Experiences client:load />
    <Events client:load />
    <Histories client:load />
  </main>
  
  <Footer client:load />
</Layout>
