---
import Layout from '../layouts/Layout.astro';
import { Header, Hero, Purpose, Discover, RoomsCarousel } from '../components';
---

<Layout>
  <Header client:load />
  
  <main>
    <Hero client:load />
    <Purpose client:load />
    <Discover client:load />
    <RoomsCarousel client:load />
  </main>
</Layout>
