---
import { DevLinkProvider } from '../../devlink/DevLinkProvider.jsx';
import { Header, Footer } from '../components';
import '../styles/global.css';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/src/assets/images/ico.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>V Grand Hotel</title>
	</head>
	<body>
		<DevLinkProvider client:load>
			<Header client:load />
			<main style="position: relative; z-index: 1;">
				<slot />
			</main>
			<Footer client:load />
		</DevLinkProvider>
	</body>
</html>
